<div class="container">
  <h1>Products</h1>
  <div>
    <h3>Quantity: {{ shoppingCart.length }}</h3>
    <h3>Total: {{ total }}</h3>
  </div>
  <div class="content-products">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (addedProduct)="addToShoppingCart($event)"
      (showDetail)="onShowDetail($event)"
    ></app-product>
  </div>
  <button *ngIf="showLoadMore" type="button" (click)="loadProducts()">Load more</button>
  <div class="product-detail" [class.active]="showProductDetail">
    <div *ngIf="productChosen">
      <button (click)="toggleProductDetail()">close</button>
      <h1>{{ productChosen.title }}</h1>
      <swiper-container slides-per-view="1">
        <swiper-slide *ngFor="let img of productChosen.images">
          <img [src]="img" [alt]="productChosen.title">
        </swiper-slide>
      </swiper-container>
      <p>{{ productChosen.description }}</p>
    </div>
  </div>
</div>
